@{
    ViewBag.Title = "Home Page";
}
<div style="margin-top:20px;clear:both;"></div>

<div class="aligncenter">
    <h2>Under Construction...</h2>
    <div class="clearfix "></div>
</div>

<div style="margin-top:20px;clear:both;"></div>
