@{
    ViewBag.Title = "Home Page";
}

<div class="aligncenter">
    <div class="clearfix "></div>
</div>

@section myHead{
<div class="row-bot">
    <div class="center-shadow">
        <div class="carousel-container">
            <div id="carousel">
                <div class="carousel-feature">
                    <a href="#"><img class="carousel-image" alt="" src="~/Content/images/logo2kber.png"></a>
                </div>
                <div class="carousel-feature">
                    <a href="#"><img class="carousel-image" alt="" src="~/Content/images/4d4b2eda-2a56-49b7-9804-be49c3448864.png"></a>
                </div>
                <div class="carousel-feature">
                    <a href="#"><img class="carousel-image" alt="" src="~/Content/images/aa1d62f1-eaee-4538-8afd-0e5617a4a3ec.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
}
