@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">@Html.ActionLink("Employees", "Index", "SystemPersons")</div>
        <div class="col-md-2">@Html.ActionLink("Patients", "Index", "patients")</div>
        <div class="col-md-2">@Html.ActionLink("Constants", "constants")</div>
        <div class="col-md-2">@Html.ActionLink("Reservations", "Index","Reservations")</div>
        <div class="col-md-2"></div>
    </div>
</div>

