@{
    ViewBag.Title = "Home Page";
}
<div style="margin-top:20px;clear:both;"></div>

<div class="aligncenter">
    <div class="clearfix "></div>
</div>

<div style="margin-top:20px;clear:both;"></div>
@section myHead{
<div class="row-bot">
    <div class="center-shadow">
        <div class="carousel-container">
            <div id="carousel">
                <div class="carousel-feature">
                    <a href="#"><img class="carousel-image" alt="" src="~/Content/images/logo2kber.png"></a>
                </div>
                <div class="carousel-feature">
                    <a href="#"><img class="carousel-image" alt="" src="~/Content/images/gallery-img3.png"></a>
                </div>
                <div class="carousel-feature">
                    <a href="#"><img class="carousel-image" alt="" src="~/Content/images/gallery-img2.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
}